src/test/java/shemas/tableOfContents.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="source" type="xs:string" />
	<xs:element name="subsection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
			<xs:attribute type="xs:string" name="title" />
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subsection" />
			</xs:sequence>
			<xs:attribute type="xs:string" name="title" />
		</xs:complexType>
	</xs:element>
	<xs:element name="chapter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section" />
			</xs:sequence>
			<xs:attribute type="xs:string" name="title" />
		</xs:complexType>
	</xs:element>
	<xs:element name="publication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="chapter" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>